@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: mono;
  src: url(../src/assets/Fontspring-DEMO-resist_mono_semibold.otf);
}
@font-face {
  font-family: up;
  src: url(./assets/upheavtt.otf);
}
a {
  text-decoration: none;
}
:root {
  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --color-white: #fff;
  --color-dark: #333;

  --color-grey: #eee;
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  --color-purple: #b9d7ea;
  --color-orange: #ff7722;

  --color-primary: #bbe5ff;
  --color-success: #28a745;
  --color-danger: orangered;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-smooth: antialiased;
}

section {
  width: 100%;
  padding: 8rem 0;
}

/* UTILITY CLASSES */

/* Flex */
.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.--flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.--flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.--flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.--dir-column {
  flex-direction: column;
}

.--flex-dir-column {
  display: flex;
}

.--align-center {
  display: flex;
  align-items: center;
}

.--100vh {
  height: 100vh;
}

.--mh-100vh {
  min-height: 100vh;
}

/* Grid */
.--grid-15 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}
.--grid-25 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
}

/* Center All */
.--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-align: center;
}

/* Heading */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  color: #31629b;
  margin-bottom: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  color: #405e82;
}
.--text-xl {
  font-size: 4.5rem;
}
.--text-lg {
  font-size: 4rem;
}

.--text-md {
  font-size: 3rem;
}

.--text-sm {
  font-size: 1.2rem;
  font-weight: 300;
}

.--text-p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  color: var(--color-dark);
}

/* Text Color */
.--text-light {
  color: #fff;
}

.--color-primary {
  color: #f7fbfc;
}
.--color-danger {
  color: orangered;
}
.--color-success {
  color: #28a745;
}

.--color-white {
  color: #fff;
}

/* Center Text */
.--text-center {
  text-align: center;
}

/* Card */
.--card {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

/* Margin */
.--m {
  margin: 1rem;
}
.--ml {
  margin-left: 1rem;
}
.--mr {
  margin-right: 1rem;
}

.--mb {
  margin-bottom: 1rem;
}

.--my {
  margin: 1rem 0;
}
.--mx {
  margin: 0 1rem;
}

.--m2 {
  margin: 2rem;
}

.--ml2 {
  margin-left: 2rem;
}
.--mr2 {
  margin-right: 2rem;
}

.--mb2 {
  margin-bottom: 2rem;
}

.--my2 {
  margin: 2rem 0;
}

.--mx2 {
  margin: 0 2rem;
}

/* Padding */
.--p {
  padding: 1rem;
}
.--p2 {
  padding: 2rem;
}
.--py {
  padding: 1rem 0;
}
.--py2 {
  padding: 2rem 0;
}
.--px {
  padding: 0 1rem;
}
.--px2 {
  padding: 0 2rem;
}

.--btn {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.--btn:hover {
  transform: translateY(-2px);
}

.--btn-lg {
  padding: 8px 10px;
}

.--btn-block {
  width: 100%;
}

.--btn-primary {
  color: #fff;
  background: #007bff;
}
.--btn-secondary {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
.--btn-danger {
  color: #fff;
  background: orangered;
}

.--btn-success {
  color: #fff;
  background: #28a745;
}

/* Background */
.--bg-light {
  background: #fff;
}
.--bg-dark {
  background: var(--color-dark);
}
.--bg-primary {
  background: var(--color-primary);
}
.--bg-success {
  background: var(--color-success);
}
.--bg-grey {
  background: var(--color-grey);
}

.--form-control {
  font-size: 1.6rem;
  font-weight: 300;
}

.--form-control > * {
  margin: 5px 0;
}

.--form-control input {
  font-size: 1.6rem;
  font-weight: 300;
  padding: 8px 1rem;
  border: none;
  border-radius: 3px;
  outline: none;
}
.--form-control select {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 3px;
}

.--form-control label {
  font-size: 1.6rem;
  font-weight: 400;
  display: inline-block;
  min-width: 7rem;
  color: var(--color-dark);
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .--flex-dir-column {
    flex-direction: column;
  }
}

.--block {
  display: block;
}
.--inline-block {
  display: inline-block;
}

.--width-100 {
  width: 100%;
}

.--width-500px {
  width: 100%;
  max-width: 500px;
}

/* TASK APP CSS */
.app {
  width: 100%;
  min-height: 100vh;
  /* background-color: #f7fbfc; */
  background: radial-gradient(
    circle farthest-corner at 1% 20%,
    #f7fbfc,
    #b9d7ea
  );
  position: fixed;
  /* background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(100, 43, 115, 1) 0%,
    rgba(4, 0, 4, 1) 90%
  ); */
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 10px;
}

.task-container {
  width: 100%;
  max-width: 600px;
  height: auto;
  background-color: hsla(206, 52%, 89%, 0.4);
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    #b9d7ea,
    #f7fbfc
  );
  border-radius: 5px;
  overflow: hidden;
  margin-top: 100px;
  padding: 3rem 2rem;
  font-family: mono;
  font-size: 1.6rem;
  animation: slide-in ease 0.5s;
  /* background: rgba(255, 255, 255, 0.07); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
}

.task-form {
  width: 100%;
  margin: 2rem 0;
  display: flex;
}
.task-form input {
  width: 85%;
  height: 4rem;
  font-size: 1.6rem;
  padding: 0 5px;
  outline: none;
  border: none;
  border-radius: 5px 0px 0px 5px;
  color: #486d98;
  font-family: mono;
}

.task-form input::placeholder {
  color: #486d98;
  font-family: mono;
  padding-top: 3px;
}
.task-form button {
  width: 15%;
  height: 4rem;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: var(--color-purple);
  color: #769fcd;
  border: none;
  transition: all 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.task-form button:hover {
  background-color: #4f729a;
  color: #7fabdd;
}

.task {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
  padding: 10px;
  margin: 7px 0;
  animation: slide-in ease 0.5s;
  font-family: mono;
  font-weight: bold;
  border-radius: 5px;
}
.list-numbers {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slide-in {
  0% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}

.task::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: rgb(255, 73, 73);
  border-radius: 5px 0px 0px 5px;
}

.completed {
  position: relative;
}

.completed::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: var(--color-success);
}

.task-icons {
  font-size: 1.6rem;
}

.task-icons > * {
  margin-left: 7px;
  cursor: pointer;
}
